<script id="article-img-template" type="text/html">
  <li>
 <!--sample message box starts-->
<div class="box box-danger">
    <div class="box-header with-border">
      <h3 class="box-title title">{{title}}</h3> 


      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            
        </button>
        
    <button class="btn btn-xs btn-danger" id='del-{{id}}' onclick='deleteArticle(this.id)'>Delete</button>
    <button class="btn btn-xs btn-info" id='upd-{{id}}' onclick='updateArticle(this.id)'>Update</button>

      </div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
       <p>Added On : <span class="date">{{date}}</span></p>
       <blockquote>
          <p class="title">{{{content}}}</p>
          
        </blockquote>
        <img class="img-responsive pad" src={{url}} alt="Articles Image">
    </div>
    <!-- /.box-body -->
  </div>
<!--sample box ends-->
</li>
</script>
<script id="article-template" type="text/html">
  <li>
 <!--sample message box starts-->
<div class="box box-danger">
    <div class="box-header with-border">
      <h3 class="box-title title">{{title}}</h3> 


      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            
        </button>
        
    <button class="btn btn-xs btn-danger" id='del-{{id}}' onclick='deleteArticle(this.id)'>Delete</button>
    <button class="btn btn-xs btn-info" id='upd-{{id}}' onclick='updateArticle(this.id)'>Update</button>

      </div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <p>Added On : <span class="date">{{date}}</span></p>
        <blockquote>
          <p class="title">{{{content}}}</p>
          
        </blockquote>
        </div>
    <!-- /.box-body -->
  </div>
<!--sample box ends-->
</li>
</script>
<script id="existing-article-img-template" type="text/html">
    <label>Current file : <b>{{filename}}</b></label>
   <img src="{{url}}" class="img-responsive pad">
</script>
</script>
<script id="existing-article-template" type="text/html">
    <label>Current file : <b>{{filename}}</b></label>
  
</script>