<script id="audio-template" type="text/html">

<div class="info-box">
    <!-- Apply any bg-* class to to the icon to color it -->
    <span class="info-box-icon bg-red"><i class="fa  fa-volume-up"></i></span>
    <div class="info-box-content">
      <span class="info-box-text"><b>{{title}}</b></span>
      <span class="info-box-text"> Uploaded On {{date}}</span>
        <audio controls>
            <source src={{url}}>
        </audio>
      <!--<span class="info-box-text"><a target="_blank"href={{url}}>Listen</a></span>-->
    <div style="text-align:right">
            <button class="btn btn-xs btn-danger" id='del-{{id}}' onclick='deleteAudio(this.id)'>Delete</button>
            <button class="btn btn-xs btn-info" id='upd-{{id}}' onclick='updateAudio(this.id)'>Update</button>
    </div>
    </div><!-- /.info-box-content -->
  </div><!-- /.info-box -->

</script>

<script id="existing-audio-template" type="text/html">
    <label>Current file : <b>{{filename}}</b></label>
    <audio class="pull-right" controls>
      <source src="{{url}}">
    </audio>
</script>